<!-- Smarty is now fully install in this version codeigniter 3.x with module extension -->
<html>
<head><title>{$title}</title></head>
<body>
	{$array.demo}
	{foreach from=$array key=key item=val}
		{$key} - {$val}
	{/foreach}
</body>
</html>
